h1 {
  font-size: 1.2rem;
  position: relative;
  z-index: 2;
}

.headline {
  font-size: 0.8rem;
  letter-spacing: 1.8px;
}
@media screen and (min-width: 425px) {
  h1 {
    font-size: 1.6rem;
  }
  .headline {
    font-size: 1rem;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
    letter-spacing: 2px;
  }
  .headline {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
    letter-spacing: 4px;
  }
}
