#intro-heading {
  position: relative;
}

section {
  margin: 1rem;
  padding: 1rem;
  position: relative;
  &.off-second {
    background-color: $primary;
    p {
      color: $secondary;
      margin: 1rem;
      font-weight: bold;
      font-size: 2rem;
    }
  }
  &.blue {
    background-color: $blue;
  }
  &.outline {
    border: 2px solid $primary;
  }
}
